doctype html
html
    head   
        <script src="https://kit.fontawesome.com/dfe99f5395.js" crossorigin="anonymous"></script>
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer