extends layouts/main.pug

block content
    .form-container
        form(method="post", action=routes.login)
            input(type="email", name="email", placeholder="E-mail")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", value="Log In")
        include partials/socialLogin